.container{
    padding: 5vh 5vw;
}
.responsive{
    display: flex;
    flex-direction: row;
}
.bannertelefone{

}
.imagemTelefone{
    width: 425px;
    height: 583px;
    position: relative;
    background: url(img/home-phones.png);
    background-repeat: no-repeat;
}
.bannertelefone .imagemTelefone img {
    position: absolute;
    right: 0;
    top: 0;
    margin: 27px 20px 0px 0px;
}
.dadosLogin{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.formLogin{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.formLogin input{
    height: 30px;
    width: 250px;
    text-align: start;
    padding: 5px 0px 0px 5px;
}
