.container{
    padding: 2vh 5vw;
}
.responsive{
    display: flex;
    flex-direction: row;
    align-items: center
}
.imagemTelefone{
    width: 425px;
    height: 583px;
    margin-right: 15px;
    position: relative;
    background: url(img/home-phones.png);
    background-repeat: no-repeat;
}
.bannertelefone .imagemTelefone img {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 27px 20px 0px 0px;
}
.bannertelefone .imagemTelefone img:first-child {
    display: block;
}
.infoLogin{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dadosLogin{
    border: 1px solid #dddddd;
    padding: 15px 30px;
    width: 280px;
}
.logotipo{
    background-image: url(img/bannersLogo.png);
    width: 175px;
    height: 53px;
    background-repeat: no-repeat;
    background-position: 0px -51px;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
}
.formLogin{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 auto
}
.formLogin input{
    height: 30px;
    width: 250px;
    text-align: start;
    padding: 5px 0px 0px 5px;
    border: 1px solid #dddddd
}
.formLogin button{
    cursor: pointer;
    height: 30px;
    background-color: #0064e0;
    border: none;
    border-radius: 6px;
    padding: 5px;
    color:#f1f4f7;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}
.mrt{
    margin-top: 15px;
}

.ou{
    display: flex;
    align-items: center;
    height: 20px;
    margin: 20px 0;
    font-size: 12px;
}
.ou hr{
    width: 100px;
    height: 0px;
    background: #dddddd;
}
.opcaoentrada{
    text-align: center;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 0 13px 0;
}
.opcaoentrada a{
    text-decoration: none;
    color: #385185;
    font-weight: 600;
    font-family: math;
    font-size: 15px;
}
.opcaoentrada span{
    background-image: url(img/logoIcons.png);
    padding: 0px 8px 0px 9px;
    background-position: -413px -258px;
    font-size: 18px;
    margin: 0 5px 0 0px;
}

.cadastro{
    width: 320px;
    margin: 20px 0 0px 0px;
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    padding: 10px;
}
.cadastro p{
    font-size: 15px;
    font-family: sans-serif;
}
.cadastro p a{
    font-weight: 600;
    color: #0064e0;
    text-decoration: none;
    margin-left: 5px;
}

.baixeAPP{
    width: 340px;
    text-align: center;
}
.formasDownload{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formasDownload img{
    width: 120px;
    height: 45px;
}